.holder{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: repeat(2,200px);
    background-color: yellow;
}

.grid-item{
    background-color: blueviolet;
    width: 150px;
    height: 150px;
}